#unhastv-footer {
  margin-top: 4rem;
  background-color: var(--ultra-dark-gray);
  padding: 25px 0;
  color: var(--light-gray);
  font-size: 0.875rem;
}

.footer__main {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footer__main > div:not(:nth-child(2)) {
  flex: 1;
}

.footer__copyright {
  font-size: 0.6875rem;
  text-align: center;
  line-height: 200%;
}

#footer-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer-menu > li:not(:first-child)::before {
  margin: 0 8px;
  content: "•";
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
.footer__socials__icon {
  width: 32px;
  height: 32px;
  transition: all 150ms ease-in;
}
.footer__socials__icon:hover {
  filter: invert(83%) sepia(56%) saturate(1713%) hue-rotate(344deg)
    brightness(97%) contrast(106%);
  scale: 0.95;
}
