#hero {
  background: linear-gradient(180deg, #151515 0%, #0a0a0a 21.35%, #000 54.69%);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  color: var(--light-gray);
  padding-bottom: 25px;
}

.hero__news-item--large,
.hero__news-item {
  position: relative;
  z-index: 1;
}
.hero__slider {
  position: relative;
}
.hero__news-item {
  flex: 0 0 250px;
}
.hero__news-item__meta-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 0;
  margin-top: 8px;
}
.hero__news-item--large .hero__news-item__meta-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 0;
  margin-top: 0;
}

/* regular news items styles */
.hero__news-item-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.hero__news-item__image-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}
.hero__news-item__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
.hero__news-item .category-badge--with-background {
  position: absolute;
  left: 4px;
  bottom: 4px;
}
.hero__news-item__title {
  font-size: 1rem;
}
.hero__news-item__date {
  font-size: 0.75rem;
}

/* .hero__news-item--large styles */
.hero__news-item--large {
  height: clamp(300px, 50vh, 600px);
}
.hero__news-item--large .hero__news-item__thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 40%;
  z-index: 2;
  filter: saturate(25%);
  transition: all 500ms ease;
}
.hero__news-item--large:hover .hero__news-item__thumbnail {
  filter: saturate(100%);
}
.hero__news-item__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 1) 95%
  );
  z-index: 3;
}
.hero__news-item--large .hero__news-item__meta-container {
  position: relative;
  height: 100%;
  padding: 0;
  padding-bottom: 20px;
  z-index: 3;
  justify-content: end;
}
.hero__news-item--large .hero__news-item__title {
  font-size: 3rem;
}
