article {
  margin: 20px 0;
}

.single-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  .category-badge--with-background {
    align-self: auto;
    color: #fff;
  }
  .single-title {
    font-size: clamp(3.25rem, 7vh, 72px);
    line-height: 100%;
    text-align: center;
  }
  .single-meta {
    font-size: 0.75rem;
    .single-author {
      font-weight: bold;
      text-transform: uppercase;
    }
    .single-date {
      text-transform: uppercase;
    }
  }
  .single-excerpt {
    width: clamp(200px, 80%, 900px);
  }
  .single-feature-image {
    margin: 20px 0;
    width: clamp(200px, 80%, 900px);
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  #movie_player {
    margin: 20px 0;
  }
}
.single-body-container {
  display: flex;
  gap: 16px;
  .content-container {
    flex: 0 0 clamp(597px, 50vw, 615px);
    margin: 0 auto;
    max-width: 615px;
    p {
      line-height: 150%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
      margin: 1.5rem 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .single-post-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
  .socials-container {
    align-self: flex-start;
    .socials-header {
      color: var(--unhas-red);
      font-weight: 700;
      border-bottom: 1px solid var(--unhas-red);
    }
    .socials-icons {
      margin: 8px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      .socials-icon {
        width: 32px;
        transition: all 150ms ease-in-out;
        transition: scale 20ms linear;
        cursor: pointer;
        &:hover {
          filter: invert(83%) sepia(56%) saturate(1713%) hue-rotate(344deg)
            brightness(97%) contrast(106%);
        }
        &:active {
          scale: 0.85;
        }
      }
    }
  }
}

.ad-example-space {
  .example-ad {
    width: 240px;
    height: 400px;
    background-color: black;
  }
}

.related-articles-container {
  margin: 50px auto;
  .related-articles-container__header {
    color: var(--unhas-red);
    border-bottom: 1px solid var(--unhas-red);
    margin: 8px 0;
  }
}
.related-articles-container__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  .related-article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 calc(100% / 4 - 16px);
    .link {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
    .image-container {
      position: relative;
      width: 100%;
      .thumbnail {
        aspect-ratio: 16 / 9;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .category-badge--with-background {
        position: absolute;
        left: 4px;
        bottom: 4px;
      }
    }
    .title {
      font-size: 1.25rem;
    }
    .date {
      color: var(--dark-gray);
      font-size: 0.875rem;
    }
  }
}
