article {
  margin: 20px 0;
}

.single-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  .category-badge--with-background {
    align-self: auto;
    color: #fff;
  }
  .single-title {
    font-size: clamp(32px, 7vw, 52px);
    color: #000;
    line-height: 125%;
  }
  .single-meta {
    font-size: 0.75rem;
    .single-author {
      font-weight: bold;
      text-transform: uppercase;
    }
    .single-date {
      text-transform: uppercase;
    }
  }
  .single-excerpt {
    width: clamp(200px, 80vw, 900px);
  }
  .cvwp-video-player {
    margin: 20px 0;
  }
}
.single-body-container {
  display: grid;
  grid-template-areas: "socials content advertisement";
  grid-template-columns: 10rem minmax(0, 40rem) 10rem;
  gap: 1rem;
  .socials-container {
    grid-area: socials;
    width: fit-content;
    .socials-header {
      color: var(--unhas-red);
      font-weight: 700;
      border-bottom: 1px solid var(--unhas-red);
    }
    .socials-icons {
      margin: 8px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      .socials-icon {
        width: 32px;
        transition: all 150ms ease-in-out;
        transition: scale 20ms linear;
        cursor: pointer;
        &:hover {
          filter: invert(83%) sepia(56%) saturate(1713%) hue-rotate(344deg)
            brightness(97%) contrast(106%);
        }
        &:active {
          scale: 0.85;
        }
      }
    }
  }
  .content-container {
    grid-area: content;
    .single-feature-image {
      width: 100%;
      height: auto;
      min-height: 300px;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-radius: 6px;
      align-self: center;
    }
    .single-feature-image-caption {
      font-size: 0.875rem;
      margin-top: 4px;
      color: var(--dark-gray);
      font-style: italic;
    }
    p {
      line-height: 150%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
      margin: 1.5rem 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .single-post-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin: 1rem 0;
    }
  }
}

.wp-element-caption {
  font-size: 0.875rem;
  margin-top: 4px;
  color: var(--dark-gray);
  font-style: italic;
}
.ad-example-space {
  grid-area: advertisement;
  .example-ad {
    width: 240px;
    height: 400px;
    background-color: black;
  }
}

.related-articles-container {
  margin: 50px auto;
  .related-articles-container__header {
    color: var(--unhas-red);
    border-bottom: 1px solid var(--unhas-red);
    margin: 8px 0;
  }
}
.related-articles-container__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  .related-article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 calc(100% / 4 - 16px);
    .link {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .image-container {
      position: relative;
      width: 100%;
      .thumbnail {
        aspect-ratio: 16 / 9;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .title {
      font-size: clamp(0.85rem, 2vw, 1.25rem);
    }
    .date {
      color: var(--dark-gray);
      font-size: 0.875rem;
    }
  }
}

.wp-block-embed iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* media queries */
@media only screen and (max-width: 1120px) {
  .single-body-container {
    grid-template-areas:
      "socials socials"
      "content advertisement";
    grid-template-columns: minmax(0, 37.5rem) 18.75rem;
  }
}
@media only screen and (max-width: 680px) {
  .single-body-container {
    grid-template-areas:
      "socials"
      "content"
      "advertisement";
    grid-template-columns: 1fr;
  }
  .related-articles-container__inner {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 500px) {
  .related-articles-container__inner {
    grid-template-columns: 1fr !important;
  }
}
