article {
  margin: 20px 0;
}

.single-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.single-header .category-badge--with-background {
  align-self: auto;
  color: #fff;
}
.single-header .single-title {
  font-size: clamp(3.25rem, 7vh, 72px);
  line-height: 100%;
  text-align: center;
}
.single-header .single-meta {
  font-size: 0.75rem;
}
.single-header .single-meta .single-author {
  font-weight: bold;
  text-transform: uppercase;
}
.single-header .single-meta .single-date {
  text-transform: uppercase;
}
.single-header .single-excerpt {
  width: clamp(200px, 80%, 900px);
}
.single-header .single-feature-image {
  margin: 20px 0;
  width: clamp(200px, 80%, 900px);
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-header .cvwp-video-player {
  margin: 20px 0;
}

.single-body-container {
  display: flex;
  gap: 16px;
}
.single-body-container .content-container {
  flex: 0 0 clamp(597px, 50vw, 615px);
  margin: 0 auto;
  max-width: 615px;
}
.single-body-container .content-container p {
  line-height: 150%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  margin: 1.5rem 0;
}
.single-body-container .content-container p:first-child {
  margin-top: 0;
}
.single-body-container .content-container p:last-child {
  margin-bottom: 0;
}
.single-body-container .content-container .single-post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.single-body-container .socials-container {
  align-self: flex-start;
}
.single-body-container .socials-container .socials-header {
  color: var(--unhas-red);
  font-weight: 700;
  border-bottom: 1px solid var(--unhas-red);
}
.single-body-container .socials-container .socials-icons {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.single-body-container .socials-container .socials-icons .socials-icon {
  width: 32px;
  transition: all 150ms ease-in-out;
  transition: scale 20ms linear;
  cursor: pointer;
}
.single-body-container .socials-container .socials-icons .socials-icon:hover {
  filter: invert(83%) sepia(56%) saturate(1713%) hue-rotate(344deg) brightness(97%) contrast(106%);
}
.single-body-container .socials-container .socials-icons .socials-icon:active {
  scale: 0.85;
}

.ad-example-space .example-ad {
  width: 240px;
  height: 400px;
  background-color: black;
}

.related-articles-container {
  margin: 50px auto;
}
.related-articles-container .related-articles-container__header {
  color: var(--unhas-red);
  border-bottom: 1px solid var(--unhas-red);
  margin: 8px 0;
}

.related-articles-container__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.related-articles-container__inner .related-article {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 0 calc(25% - 16px);
}
.related-articles-container__inner .related-article .link {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.related-articles-container__inner .related-article .image-container {
  position: relative;
  width: 100%;
}
.related-articles-container__inner .related-article .image-container .thumbnail {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.related-articles-container__inner .related-article .image-container .category-badge--with-background {
  position: absolute;
  left: 4px;
  bottom: 4px;
}
.related-articles-container__inner .related-article .title {
  font-size: 1.25rem;
}
.related-articles-container__inner .related-article .date {
  color: var(--dark-gray);
  font-size: 0.875rem;
}/*# sourceMappingURL=single.css.map */