article {
  margin: 20px 0;
}

.single-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
.single-header .category-badge--with-background {
  align-self: auto;
  color: #fff;
}
.single-header .single-title {
  font-size: clamp(32px, 7vw, 52px);
  color: #000;
  line-height: 125%;
}
.single-header .single-meta {
  font-size: 0.75rem;
}
.single-header .single-meta .single-author {
  font-weight: bold;
  text-transform: uppercase;
}
.single-header .single-meta .single-date {
  text-transform: uppercase;
}
.single-header .single-excerpt {
  width: clamp(200px, 80vw, 900px);
}
.single-header .cvwp-video-player {
  margin: 20px 0;
}

.single-body-container {
  display: grid;
  grid-template-areas: "socials content advertisement";
  grid-template-columns: 10rem minmax(0, 40rem) 10rem;
  gap: 1rem;
}
.single-body-container .socials-container {
  grid-area: socials;
  width: -moz-fit-content;
  width: fit-content;
}
.single-body-container .socials-container .socials-header {
  color: var(--unhas-red);
  font-weight: 700;
  border-bottom: 1px solid var(--unhas-red);
}
.single-body-container .socials-container .socials-icons {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.single-body-container .socials-container .socials-icons .socials-icon {
  width: 32px;
  transition: all 150ms ease-in-out;
  transition: scale 20ms linear;
  cursor: pointer;
}
.single-body-container .socials-container .socials-icons .socials-icon:hover {
  filter: invert(83%) sepia(56%) saturate(1713%) hue-rotate(344deg) brightness(97%) contrast(106%);
}
.single-body-container .socials-container .socials-icons .socials-icon:active {
  scale: 0.85;
}
.single-body-container .content-container {
  grid-area: content;
}
.single-body-container .content-container .single-feature-image {
  width: 100%;
  height: auto;
  min-height: 300px;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  align-self: center;
}
.single-body-container .content-container .single-feature-image-caption {
  font-size: 0.875rem;
  margin-top: 4px;
  color: var(--dark-gray);
  font-style: italic;
}
.single-body-container .content-container p {
  line-height: 150%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  margin: 1.5rem 0;
}
.single-body-container .content-container p:first-child {
  margin-top: 0;
}
.single-body-container .content-container p:last-child {
  margin-bottom: 0;
}
.single-body-container .content-container .single-post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0;
}

.wp-element-caption {
  font-size: 0.875rem;
  margin-top: 4px;
  color: var(--dark-gray);
  font-style: italic;
}

.ad-example-space {
  grid-area: advertisement;
}
.ad-example-space .example-ad {
  width: 240px;
  height: 400px;
  background-color: black;
}

.related-articles-container {
  margin: 50px auto;
}
.related-articles-container .related-articles-container__header {
  color: var(--unhas-red);
  border-bottom: 1px solid var(--unhas-red);
  margin: 8px 0;
}

.related-articles-container__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.related-articles-container__inner .related-article {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 0 calc(25% - 16px);
}
.related-articles-container__inner .related-article .link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.related-articles-container__inner .related-article .image-container {
  position: relative;
  width: 100%;
}
.related-articles-container__inner .related-article .image-container .thumbnail {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.related-articles-container__inner .related-article .title {
  font-size: clamp(0.85rem, 2vw, 1.25rem);
}
.related-articles-container__inner .related-article .date {
  color: var(--dark-gray);
  font-size: 0.875rem;
}

.wp-block-embed iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* media queries */
@media only screen and (max-width: 1120px) {
  .single-body-container {
    grid-template-areas: "socials socials" "content advertisement";
    grid-template-columns: minmax(0, 37.5rem) 18.75rem;
  }
}
@media only screen and (max-width: 680px) {
  .single-body-container {
    grid-template-areas: "socials" "content" "advertisement";
    grid-template-columns: 1fr;
  }
  .related-articles-container__inner {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 500px) {
  .related-articles-container__inner {
    grid-template-columns: 1fr !important;
  }
}/*# sourceMappingURL=single.css.map */